@using FinancialSupport.WebUI.ViewModels.Shared;
@model FinancialSupport.WebUI.ViewModels.InformePagamentoClienteViewModel

<div>
    <dl class="row">
        @if (Model.PagamentoParcelas.Count > 0)
        {
            <br/>
            <h4>Parcelas pendentes</h4>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Data de vencimento
                            </th>
                            <th>
                                Valor do empréstimo
                            </th>
                            <th>
                                Valor em aberto
                            </th>
                            <th>
                                Valor a pagar
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PagamentoParcelas.OrderBy(o => Convert.ToDateTime(o.EmprestimoInativoIdData)))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmprestimoInativoIdData)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorEmprestimo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmprestimoInativoIdValor)
                                </td>
                                <td>
                                    <form asp-action="ExecutaPagamento">
                                        <input asp-for="@Context.User.Identity.Name" type="hidden" name="Operador" />
                                        <input asp-for="@item.ValorPago" id="ValorPago" name="ValorPago" />
                                        <input asp-for="@item.IdEmprestimo" type="hidden" id="idEmprestimo" name="idEmprestimo" />
                                        <input asp-for="@Model.IdUsuario" type="hidden" id="UsuarioId" name="UsuarioId" />
                                        <input type="submit" value="Pagar" class="btn btn-warning" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h4>Cliente não tem parcelas pendentes para pagamentos</h4>
            <br />
        }
    </dl>
</div>


