@using FinancialSupport.WebUI.ViewModels.Shared;
@model FinancialSupport.WebUI.ViewModels.InformePagamentoClienteViewModel

@{
    if (!Model.Equals(null))
        await Html.RenderPartialAsync("_CustomMessagePartial", new CustomMessagePartialViewModel() { TipoMensagem = @Model.CustomMessagePartial.TipoMensagem, Mensagem = @Model.CustomMessagePartial.Mensagem });
}

<h4> Detalhes do cliente: &nbsp @Html.DisplayFor(model => model.Nome)</h4>

<div>
    @await Html.PartialAsync("_DetalhesCliente")

    <dl class="row">
        @if (Model.EmprestimosAtivos.Count > 1)
        {
            <hr />
            <h4>Empréstimos do cliente</h4>

            <div class="form-group">
                <label asp-for="IdEmprestimo" class="col-md-6 control-label">Escolha um empréstimo para fazer o pagamento da parcela:</label>
                <div class="col-md-6">
                    <select asp-for="IdEmprestimo" class="form-control" asp-items="ViewBag.Emprestimos">
                    </select>
                    <br>
                </div>
                @await Html.PartialAsync("_PagamentoParcelas")
            </div>
        }
@*        INSERIR COMBOBOX COM OS EMPRÉSTIMOS ATIVOS
    - chamo a _PagamentoParcelas já com cliente e empréstimo definidos

        }
        @if (Model.EmprestimosAtivos.Count == 0)
        {
            <h4>Cliente não tem empréstimos ativos</h4>
        }

        <dl class="row">
            @if (Model.PagamentoParcelas.Count > 0)
            {
                <br/>
                <h4>Parcelas pendentes</h4>
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Data de vencimento
                                </th>
                                <th>
                                    Valor do empréstimo
                                </th>
                                <th>
                                    Valor em aberto
                                </th>
                                <th>
                                    Valor a pagar
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PagamentoParcelas.OrderBy(o => Convert.ToDateTime(o.EmprestimoInativoIdData)))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmprestimoInativoIdData)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorEmprestimo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmprestimoInativoIdValor)
                                    </td>
                                    <td>
                                        <form asp-action="ExecutaPagamento">
                                            <input asp-for="@Context.User.Identity.Name" type="hidden" name="Operador" />
                                            <input asp-for="@item.ValorPago" id="ValorPago" name="ValorPago" />
                                            <input asp-for="@item.IdEmprestimo" type="hidden" id="idEmprestimo" name="idEmprestimo" />
                                            <input asp-for="@Model.IdUsuario" type="hidden" id="UsuarioId" name="UsuarioId" />
                                            <input type="submit" value="Pagar" class="btn btn-warning" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </dl>
        @if (Model.PagamentoParcelas.Count == 0)
        {
            <h4>Cliente não tem parcelas pendentes para pagamentos</h4>
        }
        <br />
        *@
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>


