@using FinancialSupport.WebUI.ViewModels.Shared;
@model FinancialSupport.WebUI.ViewModels.InformePagamentoClienteViewModel

@{
    if (!Model.Equals(null))
        await Html.RenderPartialAsync("_CustomMessagePartial", new CustomMessagePartialViewModel() { TipoMensagem = @Model.CustomMessagePartial.TipoMensagem, Mensagem = @Model.CustomMessagePartial.Mensagem });
}

<h4> Detalhes do cliente: &nbsp @Html.DisplayFor(model => model.Nome)</h4>

<div>
    @await Html.PartialAsync("_DetalhesCliente")

    <dl class="row">
        @if (ViewBag.EmprestimosExists != null)
        {
            <hr />
            <h4>Empréstimos do cliente</h4>
@*            <a asp-action="Details" asp-route-id="@Model.IdUsuario" title="Details" class="btn btn-warning">
                <span class="fas fa-search">Detalhamento</span>
            </a>*@
            <div class="form-group">
                <div class="col-md-6">
                    <select asp-for="IdEmprestimo" class="form-control" asp-items="ViewBag.Emprestimos"></select>
                    <input asp-for="@Model.IdUsuario" type="hidden" id="IdUsuario" name="IdUsuario" />
                    <br>
                </div>
                <div id="divPartial"> </div>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        ConfigurarTela();
                    });

                    function ConfigurarTela() {
                        $("#IdEmprestimo").change(function(){
                            BindPartialView();
                        });
                    }
 
                    function BindPartialView() {

                        var idEmprestimo = $("#IdEmprestimo").val();
                        var idUsuario = $("#IdUsuario").val();

                        var jsonData = {
                            id: parseInt(idUsuario),
                            idEmprestimo: parseInt(idEmprestimo),
                            tipoMensagem: null,
                            mensagem: null
                        };

                        console.log(jsonData);

                        $.ajax({
                            type: "POST",
                            url: "/Cliente/ListaParcela",
                            data: jsonData,
                            
                            success: function (response) {
                                //console.log(response);
                                $('#divPartial').html(response);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                    }
                </script>
            </div>
        }
        else
        {
            <hr />
            <h4>Cliente não tem empréstimos em aberto.</h4>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>


