@using FinancialSupport.WebUI.ViewModels.Shared;
@model FinancialSupport.WebUI.ViewModels.NovoEmpestimoViewModel
@{
    ViewData["Title"] = "Criar novo empréstimo";
}
<h2>@ViewData["Title"]</h2>

@{
    await Html.RenderPartialAsync("_CustomMessagePartial", new CustomMessagePartialViewModel() { TipoMensagem = @Model.CustomMessagePartial.TipoMensagem, Mensagem = @Model.CustomMessagePartial.Mensagem });
}

<form method="post">
    <div class="form-horizontal">
        <hr />
            <dl class="row">
                <dt class="col-sm-3">Nome:</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-3">Limite disponível:</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.LimiteDisponivel)</dd>

                <dt class="col-sm-3">Número de parcelas:</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.NumeroParcelas)</dd>

                <dt class="col-sm-3">Entre com o valor do empréstimo:</dt>
                <dd class="col-sm-9">
                    <input asp-for="Valor" class="form-control" />
                    <input type="hidden" asp-for="IdUsuario" />
                    <input type="hidden" asp-for="Nome" />
                    <input type="hidden" asp-for="NumeroParcelas" />
                </dd>
            </dl>
        <hr />
        <div class"form-group">
            <div class="col-md-offset-2 col-md-10">
                <input asp-for="@Context.User.Identity.Name" type="hidden" name="Operador" />
                <input asp-for="@Model.LimiteDisponivel" type="hidden" id="LimiteDisponivel" name="LimiteDisponivel" />
                <input type="submit" value="Novo" asp-action="Novo" class="btn btn-success" />
                <input type="submit" value="Simular" asp-action="Simular" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
            </div>
        </div>
    </div>
</form>
