@model FinancialSupport.Application.DTOs.EmprestimoDTO

<h3>Detalhamento de empréstimos</h3>

<hr />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
            @Html.DisplayNameFor(model => model.Valor)
            @Html.DisplayNameFor(model => model.Data)
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
            @Html.DisplayFor(model => model.Valor)
            @Html.DisplayFor(model => model.Data)
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Alterar</a>
    <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
</div>