@model FinancialSupport.Application.DTOs.ParcelaDTO

<h3>Exclusão de usuários</h3>

<h4>"Você tem certeza que quer excluir esta parcela?"</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3"> @Html.DisplayNameFor(model=> model.IdEmprestimo): <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.IdEmprestimo) <br /> </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model=> model.DataParcela): <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.DataParcela) <br /> </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model=> model.ValorParcela): <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.ValorParcela) <br /> </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model=> model.DataPagamento): <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.DataPagamento) <br /> </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model=> model.ValorPagamento): <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.ValorPagamento) <br /> </dd>
    </dl>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="UsuarioAlteracao" value="@Context.User.Identity.Name" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
    </form>
</div>
