@using FinancialSupport.WebUI.ViewModels.Shared;
@model List<FinancialSupport.WebUI.ViewModels.ConsultaLoginViewModel>

@{
    if (!Model.Equals(null))
        await Html.RenderPartialAsync("_CustomMessagePartial", new CustomMessagePartialViewModel() { TipoMensagem = @Model[0].CustomMessagePartial.TipoMensagem, Mensagem = @Model[0].CustomMessagePartial.Mensagem });
}

<h4> Relação de usuários do sistema</h4>

<div class="panel panel-default">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>
                    Grupo
                </th>
                <th>
                    Usuário
                </th>
                <th>
                    Usuário bloqueado
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bloqueio)
                    </td>
                    <td>
                       <a asp-action="Bloqueia" asp-route-User="@item.User" asp- name="User" title="Bloqueia" class="btn btn-info">
                            <span class="fas fa-edit">Bloquear</span>
                       </a>
                       <a asp-action="Desbloqueia" asp-route-User="@item.User" name="User" id="User" title="User" class="btn btn-warning">
                            <span class="fas fa-edit">Desbloquear</span>
                       </a>
                       <a asp-action="ExcluiUsuario" asp-route-User="@item.User" title="ExcluiUsuario" class="btn btn-danger">
                            <span class="fas fa-edit">Excluir</span>
                       </a>
                       <a asp-action="ResetSenha" asp-route-User="@item.User" title="ResetSenha" class="btn btn-danger">
                            <span class="fas fa-edit">Reiniciar Senha</span>
                       </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div>
