@model List<FinancialSupport.WebUI.ViewModels.ListaAdmEmprestimoViewModel>

@{
    ViewData["Title"] = "Gerenciamento de Empréstimos";
}

    <style>
        .modal-lg {
            max-width: 80%;
        }
    </style>

    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                <span title="Create" class="fas fa-plus"></span>Novo empréstimo
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
    <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].IdUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].NomeUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Ativo)
                    </th>
                    <th>
                    </th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>
                        <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                            <span class="fas fa-edit">Alterar</span>
                            </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                            <span class="fas fa-trash-alt">Excluir</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
