@model FinancialSupport.WebUI.ViewModels.DetalhesClienteViewModel

<h4> Detalhes do cliente: @Html.DisplayFor(model => model.Nome)</h4>

<div>
    <div class="row">
@*        @await Html.PartialAsync("_DetalhesCliente")*@
        <div class="col-sm-2" width="25%">
            @if (!ViewBag.ImageExist)
            {
                <img src="~/imagens/SemImagem.png" class="rounded-circle" width="110" asp-append-version="true" />
            }
            else
            {
                <img src="~/imagens/@Model.Foto" class="rounded-circle" width="110" asp-append-version="true" />
            }
        </div>
        <div class="col-sm-10 d-flex flex-column mb-3">
            <div class="p-2">Limite total: R$&nbsp @Html.DisplayFor(model => model.Limite)</div>
            <div class="p-2">Limite disponível: R$&nbsp @Html.DisplayFor(model => model.LimiteDisponivel)</div>
            <div class="p-2">
                @{
                var limiteDisponivel = Model.Limite - Model.LimiteDisponivel; 
                    <text>
                            Valor em aberto: R$ @limiteDisponivel.Value.ToString("N2")
                    </text>
                }
            </div>
        </div>
    </div>
    <hr />
    <dl class="row">
        @if (Model.EmprestimosAtivos.Count > 0)
        {
            <h4>Empréstimos do cliente</h4>
            @*            <a asp-action="Pagamento" asp-route-id="@Model.EmprestimoIdUsuario" title="Pagamento" class="btn btn-success">
                <span class="fas fa-edit">Pagamento</span>
            </a>*@
            <div class="panel panel-default">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>
                                Data da aquisição
                            </th>
                            <th>
                                Valor do empréstimo
                            </th>
                            <th>
                                Valor da parcela
                            </th>
                            <th>
                                Parcela pagas
                            </th>
                            <th>
                                Parcelas atrasadas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EmprestimosAtivos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Valor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorParcela)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QtdeParcelasPagas)/60
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QtdeParcelasAtrasadas)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.EmprestimosAtivos.Count == 0)
        {
        <h4>Cliente não tem empréstimos ativos</h4>
        }
        <hr />
        <dl class="row">
            @if (Model.EmprestimosHistoricos.Count > 0)
            {
                <h4> Histórico de emprestimos do cliente</h4>
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Data da aquisição
                                </th>
                                <th>
                                    Valor do empréstimo
                                </th>
                                <th>
                                    Parcelamento
                                </th>
                                <th>
                                    Observação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.EmprestimosHistoricos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmprestimoInativoIdData)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmprestimoInativoIdValor)
                                    </td>
                                    <td>
                                        60 parcelas de R$ @Html.DisplayFor(modelItem => item.EmprestimoInativoIdValorDasParcelas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmprestimoInativoIdNumeroDeParcelasEmAtraso) paga(s) em atraso
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </dl>
        @if (Model.EmprestimosHistoricos.Count == 0)
        {
            <h4>Cliente não tem empréstimos no histórico</h4>
        }
        <hr />
    </dl>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
